$es-blue: #0DB3CA;
$es-pink: #F57DB3;
$es-orange: #F97500;
$es-green: #97BF14;
$es-black: #000000;
$es-white: #FFFFFF;

$fw-regular: 400;
$fw-extraBold: 800;
$fw-black: 900;

$fs-base: 16px;
$fs-header: 40px;
$fs-L: 25px;
$fs-XL: 30px;

$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 24px;
$padding-L: 32px;
$padding-XL: 48px;

$transition: all 400ms ease-in-out;

.es-rc #es-rc-content {
    margin: 0 auto;
    padding: 0;

    max-width: 990px;

    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    line-height: auto;
    text-transform: uppercase;
    color: $es-white;
    text-align: center;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    a {
        display: block;
        margin: 0 auto;
        text-decoration: none;
        color: $es-white;
    }

    .es-section-header {
        font-size: $fs-header;
        font-weight: $fw-black;

        &--smaller {
            font-size: $fs-L;
        }
    }




    .es-cross {
        background-color: $es-green;

        .es-video {
            position: relative;
            padding-block: 50px;

            &__container {
                padding: $padding-S;
                position: relative;
                z-index: 1;
            }

            &__splash {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;
            }

            &__pack {
                position: absolute;
                left: $padding-S;
                bottom: 0;
                z-index: 2;
                max-height: 70%;
                transition: $transition;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        &__productsCtn {
            padding-inline: $padding-S;
            padding-block: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
        }

        &__single {
            max-width: 200px;
            margin: 10px;
            display: grid;
            grid-template-rows: 350px 60px 200px 40px;

            &:hover .es-cross__img {
                scale: 1.05;
            }

            &:hover .es-cross__link {
                background-color: $es-orange;
                outline: 4px solid $es-black;
                color: $es-black;
            }
        }

        &__imgCtn {
            padding: 20px;
        }

        &__img {
            height: 100%;
            transition: $transition;
        }

        &__nameCtn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        &__name {
            color: $es-white;
            font-weight: $fw-black;
            font-size: $fs-base;
        }

        &__descCtn {
            padding: 10px 0;
        }

        &__desc {
            font-weight: $fw-regular;
            font-size: $fs-base;
            text-transform: none;
        }

        &__link {
            font-weight: $fw-black;
            background-color: $es-black;
            width: 200px;
            padding: 10px 20px;
            transition: $transition;
        }
    }

    .es-footer {
        width: 100%;
        background-color: $es-black;
        padding: $padding-XS;

        &__logo {
            max-width: 200px;
        }
    }

    @media (min-width: 576px) {
        .es-cross {
            .es-video__container {
                padding-inline: $padding-L;
            }

            .es-video__pack {
                left: $padding-L;
            }
        }
    }

    @media (min-width: 768px) {
        .es-cross {
            .es-video__container {
                padding-inline: $padding-XL;
            }

            .es-video__pack {
                left: $padding-XL;
            }
        }
    }
}