@keyframes es-pulse-L {
  0% {
    transform: scale(1) rotate(-5deg);
  }
  50% {
    transform: scale(1.2) rotate(-5deg);
  }
  100% {
    transform: scale(1) rotate(-5deg);
  }
}
@keyframes es-pulse-R {
  0% {
    transform: scale(1) rotate(5deg);
  }
  50% {
    transform: scale(1.2) rotate(5deg);
  }
  100% {
    transform: scale(1) rotate(5deg);
  }
}
body {
  margin: 0;
  padding: 0;
}

.es-rc #es-rc-content {
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto:wght@400;900&family=Square+Peg&display=swap");
  font-family: "Roboto", sans-serif;
  font-size: 100%;
  line-height: 1.2;
  max-width: 990px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  background: rgb(37, 86, 164);
  background: linear-gradient(66deg, rgb(37, 86, 164) 0%, rgb(74, 166, 209) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2556a4", endColorstr="#4aa6d1", GradientType=1);
}
.es-rc #es-rc-content * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.es-rc #es-rc-content img {
  max-width: 100%;
}
.es-rc #es-rc-content .es-header {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
}
.es-rc #es-rc-content .es-outline {
  color: transparent;
  font-kerning: normal;
  letter-spacing: 0.05em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #ffffff;
  -webkit-text-fill-color: transparent;
}
.es-rc #es-rc-content .es-cross {
  padding: 1rem;
}
.es-rc #es-rc-content .es-cross__productsCtn {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  font-family: "Montserrat", sans-serif;
}
.es-rc #es-rc-content .es-cross__single {
  max-width: 200px;
  margin: 10px;
  display: grid;
  grid-template-rows: 350px 60px 200px 40px;
}
.es-rc #es-rc-content .es-cross__single:hover .es-cross__img {
  scale: 1.05;
}
.es-rc #es-rc-content .es-cross__single:hover .es-cross__link {
  background-color: transparent;
  outline: 4px solid #e0219a;
}
.es-rc #es-rc-content .es-cross__imgCtn {
  padding: 20px;
}
.es-rc #es-rc-content .es-cross__img {
  margin: 0 auto;
  display: block;
  height: 100%;
  transition: all 400ms ease-in-out;
}
.es-rc #es-rc-content .es-cross__nameCtn {
  background-color: #000;
  min-height: 50px;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.es-rc #es-rc-content .es-cross__name {
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
}
.es-rc #es-rc-content .es-cross__descCtn {
  padding: 10px 0;
  min-height: 160px;
}
.es-rc #es-rc-content .es-cross__desc {
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
}
.es-rc #es-rc-content .es-cross__link {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 900;
  color: #fff;
  text-align: center;
  background-color: #e0219a;
  width: 200px;
  padding: 10px 20px;
  font-size: 14px;
  transition: 0.4s all ease-in-out;
  display: block;
  margin: 0 auto;
}
.es-rc #es-rc-content .es-cross__link:hover {
  background-color: transparent;
  outline: 4px solid #e0219a;
}
.es-rc #es-rc-content .es-footer {
  width: 100%;
  background-color: #2659a5;
  padding: 20px;
}
.es-rc #es-rc-content .es-footer__logo {
  margin: 0 auto;
  display: block;
  max-width: 200px;
}/*# sourceMappingURL=style.css.map */