$es-blue: #0DB3CA;
$es-pink: #F57DB3;
$es-pink-2: #F078AF;
$es-orange: #F97500;
$es-yellow: #F5D400;
$es-green: #97BF14;
$es-black: #000000;
$es-white: #FFFFFF;

$ff-accent: 'Barlow Condensed', serif;

$fw-regular: 400;
$fw-bold: 700;
$fw-extraBold: 800;
$fw-black: 900;

$fs-base: 16px;
$fs-header: clamp(26px, 22.179px + 1.194vw, 34px); // min vw 320px, max vw 990px
$fs-XS: 12px;
$fs-S: 14px;
$fs-L: 25px;
$fs-XL: 30px;

$padding-XS: 8px;
$padding-S: 16px;
$padding-M: 24px;
$padding-L: 32px;
$padding-XL: 48px;

$transition: all 300ms ease-in-out;

html,
body {
    margin: 0;
    padding: 0;
}

.es-rc #es-rc-content {
    margin: 0 auto;
    padding: 0;

    max-width: 990px;

    font-family: "Montserrat", sans-serif;
    font-size: 100%;
    line-height: normal;
    text-transform: uppercase;
    color: $es-white;
    text-align: center;
    overflow: hidden;

    * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }

    p {
        margin: 0;
    }

    img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    a {
        display: block;
        margin: 0 auto;
        text-decoration: none;
        color: $es-white;
    }



    .es-section-header {
        font-size: $fs-header;
        font-weight: $fw-black;

        &--smaller {
            font-size: $fs-L;
        }
    }

    .es-outlined-text {
        font-family: $ff-accent;
        font-weight: $fw-bold;
        font-size: 50px;
        text-wrap: balance;

        @if supports (-webkit-text-stroke: 1px white) {
            -webkit-text-stroke: 1px $es-white;
            color: transparent;
        }

        @else {
            color: $es-pink;
            text-shadow: -1px -1px 0 $es-white,
                1px -1px 0 $es-white,
                -1px 1px 0 $es-white,
                1px 1px 0 $es-white;
        }

        @media (min-width: 720px) {
            font-size: 40px;
        }
    }

    .es-heartbeat {
        -webkit-animation: es-heartbeat 5s ease-in-out infinite both;
        animation: es-heartbeat 5s ease-in-out infinite both;
    }

    .es-kv {
        background-color: $es-pink;

        &__left {
            position: relative;
        }

        &__logo {
            position: absolute;
            width: 40%;
            max-width: 200px;
            top: $padding-S;
            left: $padding-S;
        }

        &__photo {
            width: 100%;
            height: 100%;
            object-fit: cover;

            img {
                width: 100%;
            }
        }

        &__textWrapper {
            position: absolute;
            bottom: $padding-M;
            width: 100%;
            padding-inline: $padding-S;
            display: flex;
            flex-direction: column;
            gap: 10px;
        }

        &__text {
            font-weight: $fw-extraBold;
            font-size: $fs-L;
            background-color: $es-pink;
        }

        &__right {
            padding: $padding-M $padding-S;
        }

        &__imgWrapper {
            position: relative;
            margin-block: $padding-M;
        }

        &__stamp {
            position: absolute;
            top: 0;
            right: 0;
            width: 39%;
        }

        .es-slider__cardsWrapper {
            flex-direction: row;
        }

        .es-slider__card {
            outline: 1px solid $es-white;
        }

        .es-slider__card--header {
            font-size: $fs-base;
        }
    }

    .es-colors {
        background-color: $es-blue;

        &__header {
            padding: $padding-M;
            background-repeat: no-repeat;
        }

        &__wrapper {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
        }

        &__single {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 24px;
            flex: 1 1 calc(100% / 2);
            max-width: calc(100% / 2);

            img {
                transition: $transition;
            }

            &:hover img {
                scale: 1.1;
            }
        }

        &__lips {
            width: 100%;
            overflow: hidden;

            img {
                width: 100%;
            }
        }

        &__pack {
            width: 100%;

            img {
                width: 100%;
                aspect-ratio: 1/1;
            }
        }

        &__name {
            padding-bottom: 32px;
            font-weight: $fw-extraBold;
            font-size: $fs-base;
            text-wrap: balance;
        }

        &__single {
            &-1 {
                background-color: #8C4933;
            }

            &-2 {
                background-color: #75393B;
            }

            &-3 {
                background-color: #5F3F2B;
            }

            &-4 {
                background-color: #59351D;
            }

            &-5 {
                background-color: #46241F;
            }

            &-6 {
                background-color: #39241A;
            }

            &-7 {
                background-color: #6D2432;
            }

            &-8 {
                background-color: #5F2029;
            }

            &-9 {
                background-color: #6A202C;
            }

            &-10 {
                background-color: #781727;
            }

            &-11 {
                background-color: #84001C;
            }

            &-12 {
                background-color: #8F332E;
            }

            &-13 {
                background-color: #64101A;
            }

            &-14 {
                background-color: #39151C;
            }

            &-15 {
                background-color: #300A0D;
            }

            &-16 {
                background-color: #191419;
            }
        }
    }

    .es-slider {
        background-color: $es-blue;

        .es-swiper-button-prev:after,
        .es-swiper-button-next:after {
            display: none;
        }

        .es-swiper-button-prev,
        .es-swiper-button-next {
            cursor: pointer;
            font-size: 32px;
        }

        .swiper-pagination-bullets {
            width: fit-content;
        }

        .swiper-pagination-bullet {
            background: $es-white;
            opacity: 0.5;
            margin-inline: 5px;
        }

        .swiper-pagination-bullet-active {
            background: $es-white;
            opacity: 1;
        }

        .es-swiper {
            background-size: cover;
            background-repeat: no-repeat;
        }

        .es-swiper__buttons {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
        }

        &__slide-1,
        &__slide-2 {
            padding: $padding-M;
            display: flex;
            flex-direction: column;
            gap: $padding-M;
        }

        &__cardsWrapper {
            display: flex;
            flex-direction: column;
            gap: $padding-S;
        }

        &__card {
            border-radius: 24px;
            overflow: hidden;

            &--header {
                background-color: $es-white;
                color: $es-blue;
                padding-block: $padding-XS;
                font-size: $fs-L;
                font-weight: $fw-extraBold;
            }

            &--img {
                transition: $transition;
            }

            &:hover .es-slider__card--img {
                scale: 1.05;
            }
        }

        &__card-2 {
            position: relative;

            &--bottomText {
                font-weight: $fw-extraBold;
                font-size: $fs-base;
                display: flex;
                width: 100%;
                gap: 4%;
                justify-content: center;
                position: absolute;
                bottom: 8px;
                transform: translate(-50%);
                left: 51%;

                &-1 {
                    left: 47%;
                }
            }

            &--img {
                width: 100%;

                &-green {
                    background-color: $es-green;
                }

                &-yellow {
                    background-color: $es-yellow;
                }

                &-pink {
                    background-color: $es-pink-2;
                }
            }
        }

    }

    .es-tech {
        background-color: $es-orange;
        padding: $padding-S;

        &__subtitle {
            font-weight: $fw-extraBold;
            font-size: $fs-L;
            text-transform: none;
        }

        &__left {
            &--header {
                display: flex;
                flex-direction: column;
                gap: $padding-S;
            }
        }

        &__right {
            &--header {
                margin-bottom: $padding-S;
            }
        }


        &__stampCtn {
            width: 70%;
            max-width: 200px;
            margin: auto;
        }

        &__text {
            font-weight: $fw-extraBold;
            font-size: $fs-L;
        }

        &__list {
            display: flex;
            flex-direction: column;
            gap: 8px;
        }

        &__lineCtn {
            display: none;
        }

    }


    .es-cross {
        background-color: $es-green;

        .es-video {
            position: relative;
            padding-block: 50px;

            &__container {
                padding: $padding-S;
                position: relative;
                z-index: 1;
            }

            &__splash {
                position: absolute;
                top: 0;
                right: 0;
                z-index: 0;
            }

            &__pack {
                position: absolute;
                left: $padding-S;
                bottom: 0;
                z-index: 2;
                max-height: 70%;
                transition: $transition;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        &__productsCtn {
            padding-inline: $padding-S;
            padding-block: 100px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: flex-end;
            gap: 20px;
        }

        &__single {
            max-width: 200px;
            display: grid;
            grid-template-rows: 350px 60px 200px 40px;

            &:hover .es-cross__img {
                scale: 1.05;
            }

            &:hover .es-cross__link {
                background-color: $es-orange;
                outline: 4px solid $es-black;
                color: $es-black;
            }
        }

        &__imgCtn {
            padding: 20px;
        }

        &__img {
            height: 100%;
            transition: $transition;
        }

        &__nameCtn {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
        }

        &__name {
            color: $es-white;
            font-weight: $fw-black;
            font-size: $fs-base;
        }

        &__descCtn {
            padding: 10px 0;
        }

        &__desc {
            font-weight: $fw-regular;
            font-size: $fs-base;
            text-transform: none;
        }

        &__link {
            font-weight: $fw-black;
            background-color: $es-black;
            width: 200px;
            padding: 10px 20px;
            transition: $transition;
        }
    }

    .es-footer {
        width: 100%;
        background-color: $es-black;
        padding: $padding-XS;

        &__logo {
            max-width: 200px;
        }
    }

    @media (min-width: 576px) {

        .es-colors {
            &__single {
                flex: 1 1 calc(100% / 4);
                max-width: calc(100% / 4);
            }
        }

        .es-slider {
            .es-swiper {
                background-size: 100% 100%;
            }

            &__cardsWrapper {
                flex-direction: row;
            }

            &__slide-1 {
                padding-inline: $padding-XL;
            }

            &__slide-2 {
                padding: 0;
                flex-direction: row;
                gap: 0;

            }

            &__card-2 {
                border-radius: 0;
            }

            &__card-2--img {
                height: 100%;
                object-fit: cover;
            }
        }

        .es-cross {
            .es-video__container {
                padding-inline: $padding-L;
            }

            .es-video__pack {
                left: $padding-L;
            }
        }
    }

    @media (min-width: 720px) {

        .es-kv {
            display: flex;

            &__left,
            &__right {
                width: 50%;
            }

            &__right {
                padding: $padding-M;
            }
        }

        .es-tech {
            position: relative;
            display: flex;
            justify-content: space-between;
            z-index: 1;
            min-height: 450px;
            padding: $padding-XL $padding-L;

            &__subtitle {
                font-size: 20px;
            }

            &__bg {
                position: absolute;
                z-index: -1;
                height: 100%;
                transform: translate(-50%, -50%);
                left: 50%;
                top: 50%;
            }

            &__left,
            &__right {
                width: 45%;
            }

            &__left {
                text-align: left;

            }

            &__right {
                text-align: right;

                &--header {
                    margin-bottom: 50px;
                }
            }

            &__stampCtn {
                max-width: 150px;
                margin-right: 32px;
            }

            &__single {
                transition: $transition;

                &:hover {
                    margin-left: -10px;
                    scale: 1.05;
                }
            }

            &__lineCtn {
                display: flex;
                align-items: center;
            }

            &__plus {
                font-weight: 700;
                font-size: 20px;
                width: 24px;
                height: 24px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 99px;
                outline: 2px solid $es-blue;
                color: $es-blue;
                background-color: $es-white;
                flex: 1 0 auto;
            }

            &__line {
                border-bottom: 2px solid white;
                height: 2px;
                width: 100%;
            }
        }

        .es-cross {
            .es-video__container {
                padding-inline: $padding-XL;
            }

            .es-video__pack {
                left: $padding-XL;
            }
        }
    }

    @media (min-width: 768px) {
        .es-colors {
            &__single {
                flex: 1 1 calc(100% / 8);
                max-width: calc(100% / 8);
            }

            &__name {
                font-size: $fs-XS;
            }
        }

        .es-tech {

            &__left,
            &__right {
                width: 47%;
            }

            &__stampCtn {
                max-width: 180px;
                margin-top: 50px;
                margin-right: 50px;
            }
        }
    }

    @media (min-width: 992px) {
        .es-colors {
            &__name {
                font-size: $fs-S;
            }
        }
    }

    @-webkit-keyframes es-heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }

    @keyframes es-heartbeat {
        from {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-transform-origin: center center;
            transform-origin: center center;
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        10% {
            -webkit-transform: scale(0.91);
            transform: scale(0.91);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        17% {
            -webkit-transform: scale(0.98);
            transform: scale(0.98);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }

        33% {
            -webkit-transform: scale(0.87);
            transform: scale(0.87);
            -webkit-animation-timing-function: ease-in;
            animation-timing-function: ease-in;
        }

        45% {
            -webkit-transform: scale(1);
            transform: scale(1);
            -webkit-animation-timing-function: ease-out;
            animation-timing-function: ease-out;
        }
    }

}